extends  _assets/layouts/_base

prepend consts
  -
    // ページ設定の取得
    var $page = getPageData('index')

block contents
  #apps.apps
    content-header

    .wrapper
      content-main

    content-footer

append body_js
  script(src=`${$dir['js']}/app.js`)