extends  _assets/layouts/_base

prepend consts
  -
    // ページ設定の取得
    var $page = getPageData('index')

block contents
  #apps.apps
    .apps-header: .apps-stretch: header.apps-container: content-header

    main.apps-stretch
      content-main.apps-container

    .apps-footer: .apps-stretch: footer.apps-container: content-footer

append body_js
  script(src=`${$dir['js']}/app.js`)