@require "mixin/*"
json('const/base.json')

//*********** Easing ***************//
$easing = default-duration ease


//*********** Font ***************//
json('const/font-family.json')
$font-gothic = fg-rubik, f-apple, f-blink, fg-helveticaN, fg-yu, fg-hiragino, fg-meryo, fg-verdana, fg-android, fg-default
$font-mincho = fm-yu, fm-hiragino, fm-msMincho, fg-android, fm-default

// デフォルト
$font-default = $font-gothic